# Файлы macOS
.DS_Store
.AppleDouble
.LSOverride

# Файлы Golang
# Бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тестовые бинарные файлы
*.test

# Файлы зависимостей
vendor/
go.mod
go.sum

# Файлы сборки и выходные директории
bin/
dist/
out/

# Файлы IDE JetBrains GoLand
.idea/
*.iml
*.iws
*.ipr
modules.xml
workspace.xml

# Кэш Go
debug
__debug_bin

# Дополнительные файлы
*.log
*.out
*.tmp